@charset "utf-8";

#career_container
{
	border: 2px solid #fdbb3b;
	border-radius: 15%;
	width:600px;
	height: auto;
	padding-bottom: 65px;
}

#locations_head
{
	padding-top: 50px;
	padding-bottom: 20px; 
	text-align: center;
	width: 300px;
	margin: 0 auto;
	border-bottom: 2px solid #5b5a5b;
	margin-bottom: 10px;
}

#instruct
{
	font-size: 12px;
	font-style: italic;
	text-align: center;
	color: #780000;
	padding-bottom: 40px;
}

.location_container
{
	margin-top: 15px;
	text-align: center;
	/*border:1px dashed blue;*/
	background: #fdbb3b;
	/*background-size: 40px 37px;*/
	padding: 5px;
	cursor: pointer;
}

.jobs
{
	display: none;
	padding: 10px;
	width: 100%;
	text-align: center;
}
table, td, th
{
	border:1px solid #fdbb3b;
	text-align: center;
}
th{
	font-weight: 900;
	background: #E8E8E8;
	color:#5b5a5b;
}
