@charset "utf-8";

/*  -------------------------  */
/*  ----------RESET----------  */
/*  -------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
	text-decoration: none; 
}

strong { font-weight: bold; }
em { font-style: italic; }

/*  -------------------------  */
/*  -----GENERAL STYLING-----  */
/*  -------------------------  */

html {
	font-size: 1em;
	line-height: 1.3;
}

h1 { font-size: 30px; font-size: 1.875rem; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.625rem; line-height: 1; }
h3 { font-size: 22px; font-size: 1.375rem; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.125rem; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1rem; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.875rem; line-height: 1.125; }
p { font-size: 16px; font-size: 1rem; line-height: 1.3; }

body {
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden; /*Stop accents from creating horizontal scrolling*/
}

/*  ----------CONTAINERS---------  */

.slim-container {
	margin: 0 auto;
	width: 660px;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.header-container, .footer-container {
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

.full-container {
	width: 100%;
}

/*  ----------ACCESSIBILITY---------  */

.skip, .outline {
	left: -9999px;
	position: absolute;
}

a:focus {
	outline: gray solid 2px;
}

/*  ----------CLEARFIX---------  */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*  -------------------------  */
/*  ----------HEADER---------  */
/*  -------------------------  */

/*  ----------HEADER IMAGE`S + BORDER---------  */

#header {
	position: absolute;
	margin: 0;
	width: 100%;
	background: #ffffff;
	/*transform: translate(0, 30%);*/
	z-index: 1;
	text-align: center;
}

/*  ----------LOGO---------  */

#logo {
	margin: 20px 0 12px 0;
	display: inline-block;
	width: 220px;
	z-index: 3;
}

#logo img {
	width: 100%;
}

#logo-circle {
	margin: 0;
	display: inline-block;
	width: 120px;
	height: 50px;
	position: absolute;
	left: 28px;
	top: -13px;
	z-index: 2;
	background: #ffffff;
	padding: 90px 60px 0 60px;
	border-radius: 50%;
}

/*  ----------MAIN NAVIGATION---------  */

nav {
	display: inline-block;
	float: right;
	background: #fdbb3b;
	/*border-top: 2px solid #5b5a5b;
	border-right: 2px solid #5b5a5b;
	border-left: 2px solid #5b5a5b;)*/
	width: 100%;
}

nav ul {
	margin: 28px 0;
	position: relative;
	display: inline-block;
}

nav ul li {
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
}

nav ul li a {
	color: #fff;
	padding: 29px 15px;
}

nav ul li a:hover {
	background: #fff;
	color: #fdbb3b;
}

/*  ----------MAIN NAVIGATION ACCENTS---------  */

#nav-r {
	width: 5000px;
	height: 50px;
	position: absolute;
	padding: 18px 0;
	top: -33px;
	right: -5005px;
	background-color: #ffffff;
}

#nav-l {
	width: 5000px;
	height: 50px;
	position: absolute;
	padding: 18px 0;
	top: -33px;
	left: -5005px;
	background-color: #ffffff;
}

/*  -------------------------  */
/*  ---------CONTENT---------  */
/*  -------------------------  */

section {
	padding-top: 165px; /*makes a buffer for fixed header and written content*/
	overflow: hidden; /*Stop accents from creating horizontal scrolling*/
}

/*  ----------ROW CLEAR + END ZONE---------  */

.row {
	margin: 3px 0;
	position: relative;
	clear: both;
}

.end {
	margin-bottom: 50px;
}

/*  -------------------HIGHLIGHTS + ACCENTS-----------------  */

/*  ----------MAIN CONTENT ACCENTS---------  */

.right-accent {
	width: 9999px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -9999px;
	background-color: #fdbb3b;
}

.left-accent {
	width: 9999px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -9999px;
	background-color: #fdbb3b;
}

.top-accent {
	height: 9999px;
	width: 100%;
	position: absolute;
	top: -9999px;
	left: 0;
	background-color: #fdbb3b;
}

/*  ----------HIGHTLIGHT 5-5 IMAGES---------  */

#h-5-5-img {
	width: 1000%;
	background-size: cover;
	-webkit-transition:all 1s ease-out;
      -moz-transition:all 1s ease-out;
      -ms-transition:all 1s ease-out;
      -o-transition:all 1s ease-out; 
      transition:all 1s ease-out;
      transform: translate(0px, 0px);
}

#h-5-5-img li img {
	width: 100%;
}

#slide1 {
	display: block;
	float: left;
}
#slide2 {
	display: block;
	float: left;
}
#slide3 {
	display: block;
	float: left;
}
#slide4 {
	display: block;
	float: left;
}


/*  ----------HIGHTLIGHT 5-5---------  */

#h-5-5 {
	padding: 30px;

}

#h-5-5 h2 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-5-5 p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

/*.slim-container .right-accent, .slim-container .left-accent {
	background: #eeeeee;
}*/

/*  ----------HIGHTLIGHT 4-5---------  */

#h-4-5 {
	color: #fff;
	background-color: #fdbb3b;
	margin: 2px 2px 2px 0;
	width: 79.65%;
}

#h-4-5 h2 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-4-5 p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

#h-4-5-indent {
	padding: 25px 0;
	margin: 10px 20px 0 0;
}

/*  ----------HIGHLIGHT 1-5---------  */

#h-1-5 {
	color: #fff;
	background-color: #fdbb3b;
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

#h-1-5 h2 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-1-5 p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

#h-1-5-indent {
	margin: 20px;
}

/*  ----------HIGHLIGHT 1-5-link---------  */

#h-1-5-link {
	background-color: #929292;
	margin: 0;
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.h-1-5-link {
	background-color: #929292;
}

#h-1-5-link h4 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-1-5-link p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

#h-1-5-link a {
	color: #fff;
}

#h-1-5-link a:hover {
	color: #eee;
}

#h-1-5-link-indent {
	padding: 25px 3px 25px 20px;
}

#prevBtn {
	position: absolute;
	top: 50%;
	left: 15px;
}

#nextBtn {
	position: absolute;
	top: 50%;
	right: 15px;
}


/*  -----------------------PAGE HEADER--------------------  */

.page-header {	
	position: relative;
	display: block;
	margin: 10px 0 0 0;
	background: #fdbb3b;
}

.page-header h2 {
	text-transform: uppercase;
	color: #fdbb3b;
	font-size: 30px; 
	font-size: 1.875rem;
	line-height: 1.5;
	font-weight: 600;
	display: inline-block;
	background: #ffffff;
	padding: 5px 10px 0 10px;
	margin: 0 0 0 30px;
}


/*  -------------------------  */
/*  ----------FOOTER---------  */
/*  -------------------------  */

footer {
	background: #fdbb3b;
}

footer p {
	color: #fff;
	padding: 20px;
	font-weight: 600;
	font-size: 14px;
	font-size: 0.875rem;
}
