@charset "utf-8";

/*  -------------------------  */
/*  ----------RESET----------  */
/*  -------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:hover {
	text-decoration: none; 
}

strong { font-weight: bold; }
em { font-style: italic; }

/*  -------------------------  */
/*  -----GENERAL STYLING-----  */
/*  -------------------------  */

html {
	font-size: 1em;
	line-height: 1.3;
}

h1 { font-size: 30px; font-size: 1.875rem; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.625rem; line-height: 1; }
h3 { font-size: 22px; font-size: 1.375rem; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.125rem; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1rem; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.875rem; line-height: 1.125; }
p { font-size: 16px; font-size: 1rem; line-height: 1.3; }

body {
	font-family: "Proxima Nova", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden; /*Stop accents from creating horizontal scrolling*/
	color: #5b5a5b;
}

/*  ----------CONTAINERS---------  */

.slim-container {
	margin: 0 auto;
	width: 660px;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.header-container, .footer-container {
	margin: 0 auto;
	width: 1200px;
	position: relative;
}

.full-container {
	width: 100%;
}

/*  ----------ACCESSIBILITY---------  */

.skip, .outline {
	left: -9999px;
	position: absolute;
}

a:focus {
	outline: gray solid 2px;
}

/*  ----------CLEARFIX---------  */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*  -------------------------  */
/*  ----------HEADER---------  */
/*  -------------------------  */

/*  ----------HEADER IMAGE`S + BORDER---------  */

#header {
	position: absolute;
	margin: 0;
	width: 100%;
	background: #ffffff;
	/*transform: translate(0, 30%);*/
	z-index: 1;
	text-align: center;
}

/*  ----------LOGO---------  */

#logo {
	margin: 20px 0 12px 0;
	display: inline-block;
	width: 220px;
	z-index: 3;
}

#logo img {
	width: 100%;
}

#logo-circle {
	margin: 0;
	display: inline-block;
	width: 120px;
	height: 50px;
	position: absolute;
	left: 28px;
	top: -13px;
	z-index: 2;
	background: #ffffff;
	padding: 90px 60px 0 60px;
	border-radius: 50%;
}

/*  ----------MAIN NAVIGATION---------  */

nav {
	display: inline-block;
	float: right;
	background: #fdbb3b;
	/*border-top: 2px solid #5b5a5b;
	border-right: 2px solid #5b5a5b;
	border-left: 2px solid #5b5a5b;)*/
	width: 100%;
}

nav ul {
	margin: 28px 0;
	position: relative;
	display: inline-block;
}

nav ul li {
	margin: 0;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
}

nav ul li a {
	color: #fff;
	padding: 29px 15px;
}

nav ul li a:hover {
	background: #fff;
	color: #fdbb3b;
}

/*  ----------MAIN NAVIGATION ACCENTS---------  */

#nav-r {
	width: 5000px;
	height: 50px;
	position: absolute;
	padding: 18px 0;
	top: -33px;
	right: -5005px;
	background-color: #ffffff;
}

#nav-l {
	width: 5000px;
	height: 50px;
	position: absolute;
	padding: 18px 0;
	top: -33px;
	left: -5005px;
	background-color: #ffffff;
}

/*  -------------------------  */
/*  ---------CONTENT---------  */
/*  -------------------------  */

section {
	padding-top: 165px; /*makes a buffer for fixed header and written content*/
	overflow: hidden; /*Stop accents from creating horizontal scrolling*/
}

/*  ----------ROW CLEAR + END ZONE---------  */

.row {
	margin: 0;
	position: relative;
	clear: both;
	background: #fff;
}

.end {
	margin-bottom: 50px;
}

/*  -------------------HIGHLIGHTS + ACCENTS-----------------  */

/*  ----------MAIN CONTENT ACCENTS---------  */

.right-accent {
	width: 9999px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -9999px;
	background-color: #fdbb3b;
}

.left-accent {
	width: 9999px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -9999px;
	background-color: #fdbb3b;
}

.top-accent {
	height: 9999px;
	width: 100%;
	position: absolute;
	top: -9999px;
	left: 0;
	background-color: #fdbb3b;
}

/*  ----------HIGHTLIGHT 5-5 IMAGES---------  */

#h-5-5-img {
	-webkit-transition:all 0.75s ease-out;
      -moz-transition:all 0.75s ease-out;
      -ms-transition:all 0.75s ease-out;
      -o-transition:all 0.75s ease-out; 
      transition:all 0.75s ease-out;
      transform: translate(0px, 0px);
}

#h-5-5-img li {
	display: inline-block;
	float: left;
	position: relative;
}

#h-5-5-img li img {
	width: 100%;
}




/*  ----------HIGHTLIGHT 5-5---------  */

#h-5-5 {
	padding: 30px;

}

#h-5-5 h2 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-5-5 p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

/*.slim-container .right-accent, .slim-container .left-accent {
	background: #eeeeee;
}*/

/*  ----------HIGHTLIGHT 4-5---------  */

#h-4-5 {
	color: #fff;
	background-color: #fdbb3b;
	margin: 2px 2px 2px 0;
	width: 79.65%;
}

#h-4-5 h2 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-4-5 p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

#h-4-5-indent {
	padding: 25px 0;
	margin: 10px 20px 0 0;
}

/*  ----------HIGHTLIGHT 1-3---------  */

.h-1-3 {
	color: #fff;
	border: 2px solid #fff;
	background: #fdbb3b;
	margin: 20px 2px 20px 0;
	width: 32%;
	height: 170px;
	display: inline-block;
	vertical-align: top;
}

.h-1-3:hover {
	color: #fdbb3b;
	border: 2px solid #fdbb3b;
	background: #fff;
}

.h-1-3:active {
	color: #fff;
	background: #fdbb3b;
	border: 2px solid #fdbb3b;
}

.h-1-3 h2 {
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

.h-1-3 p {
	padding: 10px;
	font-weight: 600;
}

.h-1-3-indent {
	padding: 25px 0;
	margin: 10px 20px 0 0;
}

/*  ----------HIGHLIGHT 1-5---------  */

#h-1-5 {
	color: #fff;
	background-color: #fdbb3b;
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

#h-1-5 h2 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-1-5 p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

#h-1-5-indent {
	margin: 20px;
}

/*  ----------HIGHLIGHT 1-5-link---------  */

#h-1-5-link {
	background-color: #929292;
	margin: 0;
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.h-1-5-link {
	background-color: #929292;
}

#h-1-5-link h4 {
	text-transform: uppercase;
	font-weight: 600;
}

#h-1-5-link p {
	font-weight: 600;
	margin: 10px 0 0 0;
}

#h-1-5-link a {
	color: #fff;
}

#h-1-5-link a:hover {
	color: #eee;
}

#h-1-5-link-indent {
	padding: 25px 3px 25px 20px;
}

/*  -----------------------SLIDER BUTTONS--------------------  */

#slider-buttons {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -73px;
	z-index: 4;
	padding: 10px;
	background: #fff;
}

#prevBtn {
	color: #5b5a5b;
	background: transparent;
	font-size: 1.9rem;
	width: 40px;
	border: 2px solid #5b5a5b;
	cursor: pointer;
	vertical-align: top;
	padding: 0;
	width: 35px;
}

#nextBtn {
	color: #5b5a5b;
	background: transparent;
	font-size: 1.9rem;
	width: 40px;
	border: 2px solid #5b5a5b;
	cursor: pointer;
	vertical-align: top;
	padding: 0;
	width: 35px;
}

#playBtn {
	color: #5b5a5b;
	background: transparent;
	font-size: 1.9rem;
	border: 2px solid #5b5a5b;
	cursor: pointer;
	display: none;
	vertical-align: top;
	padding: 0;
	width: 40px;
}

#pauseBtn {
	color: #5b5a5b;
	background: transparent;
	font-size: 1.9rem;
	border: 2px solid #5b5a5b;
	cursor: pointer;
	vertical-align: top;
	padding: 0;
	width: 40px;
}

#prevBtn:hover, #nextBtn:hover, #playBtn:hover, #pauseBtn:hover {
	color: #fdbb3b;
	border: 2px solid #fdbb3b;
	
}

#prevBtn:active, #nextBtn:active, #playBtn:active, #pauseBtn:active {
	color: #fff;
	background: #fdbb3b;
}

/*  -----------------------SLIDE CONTENT--------------------  */

.slide-container {
	position: absolute;
	width: 960px;
	left: 50%;
	top: 100px;
	bottom: 30px;
	margin-left: -480px;
	color: #5b5a5b;
}

.slide-container h2 {
	padding: 10px;
	font-size: 2.5rem;
	font-weight: 800;
}

.slide-container h4 {
	padding: 5px 5px 5px 10px;
	font-size: 2rem;
	font-weight: 800;
}

.slide-container a {
	padding: 10px;
	font-size: 1.5rem;
}

.light {
	color: #fff;
	background: rgba(253,187,59,.8);
}

.dark {
	color: #5b5a5b;
	background: #fff;
}

.slide-left {
	position: absolute;
	left: 30px;
	top: 30px;
}

.slide-right {
	position: absolute;
	right: 30px;
}

.slide-left a {
	right: 60px;
}

.slide-container a {
	position: absolute;
	border: 2px solid #fdbb3b;
	background: #fff;
	color: #fdbb3b;
	font-size: 1.25rem;
	padding: 10px;
	margin: 20px;
	font-weight: 800;
}

.slide-container a:hover {
	background: #fdbb3b;
	color: #fff;
	cursor: pointer;
}

/*  -----------------------PAGE HEADER--------------------  */

.page-header {	
	position: relative;
	display: block;
	margin: 10px 0 0 0;
	background: #fdbb3b;
}

.page-header h2 {
	text-transform: uppercase;
	color: #fdbb3b;
	font-size: 30px; 
	font-size: 1.875rem;
	line-height: 1.5;
	font-weight: 600;
	display: inline-block;
	background: #ffffff;
	padding: 5px 10px 0 10px;
	margin: 0 0 0 30px;
}


/*  -------------------------  */
/*  ----------FOOTER---------  */
/*  -------------------------  */

footer {
	background: #fdbb3b;
}

footer p {
	color: #fff;
	padding: 20px;
	font-weight: 600;
	font-size: 14px;
	font-size: 0.875rem;
	display: inline-block;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #5b5a5b;
}

.social {
	display: inline-block;
	float: right;
	line-height: 58px;
	margin: 0 20px;
}

.social i {
	width: 10px;
	margin: 2px;
	padding: 5px;
}
